html, body {
  min-width: 960px;
  min-height: 500px;
  width: 100%;
  height: 100%;
}
li {list-style:none}

@media (min-width: 1280px)
.homepage-container {
  left: 10%;
  right: 10%;
}

.homepage-container {
  position: absolute;
  min-width:1580px;
  top: 12%;
  bottom: 10%;
  left: 10%;
  right: 10%;
}

.homepage-header {
  position: absolute;
  top: -48px;
  width: 100%;
  height: 48px;
  background: #3397e4;
  border-radius: 2px 2px 0 0;
  color: #fff;
  line-height: 48px;
}

.header-logo {
  margin: 0;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
}

.map-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #eee;
  border-radius: 0 0 2px 2px;
}

.header-logo {
  margin: 0;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
}

/*悬浮选择框*/
.map-navbar {
  position: absolute;
  top: 10px;
  left: 20px;
  right: 20px;
  z-index: 4000;
  height: 40px;
}

.module-city {
  float: left;
  margin: 0 4px 0 0;
}
.bs-dropdown {
  position: relative;
}

.module-locate {
  position: relative;
  float: left;
  margin: 0 4px 0 0;
  width: 560px;
}
.map-block.dark {
  box-shadow: 0 2px 6px rgba(0,0,0,0.3),0 4px 15px -5px rgba(0,0,0,0.3);
}
.search-bar {
  height: 40px;
  padding: 0 0 0 20px;
}
.search-bar>.twitter-typeahead {
  float: left;
  height: 38px;
  width: 85%;
}
.city-toggle {
  width: 96px;
  height: 40px;
  padding-right: 20px;
  text-align: center;
  font-size: 16px;
  line-height: 38px;
  cursor: pointer;
}

.map-block {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 2px;
  background: #fff;
  font: normal 18px/2 "Helvetica Neue",Arial,"Microsoft Yahei",sans-serif;
}
.search-input {
  width: 100%;
  padding: 7.8px 0;
  border: none;
  font: 16px/1.4 "Helvetica Neue",Arial,"Microsoft Yahei",sans-serif;
}
.search-btn {
  float: right;
  width: 70px;
  font-size: 20px;
  color: #999;
  line-height: 32px;
  text-align: center;
  background: #fff;
}
/*显示地图*/
.map-display{
  height: 100%;
  position: relative;
  overflow: hidden;
  -webkit-transform: translateZ(0px);
  background-color: rgb(229, 227, 223);
}
/*结果列表相关*/
.map-sidebar {
  position: absolute;
  top: 54px;
  bottom: 20px;
  
  z-index: 1000;
  left: 20px;
  width:20%;
}
.result-wrapper>.module-header {
  padding: 0 15px;
  font-size: 14px;
  line-height: 38px;
}
.module-header {
  margin: 0;
  border-bottom: 1px solid #ddd;
  color: #666;
  font: normal 14px/1 "Helvetica Neue",Arial,"Microsoft Yahei",sans-serif;
}
.result-list {
  position: absolute;
  top: 40px;
  bottom: 0;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.result-list>div{
	color: black;
		
	transition: background-color 0.3s;
}
.result-list>div:hover{
	color:#cccccc;
	background:#eeeeee;
}
.result-block {
  padding: 15px 15px 15px 45px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
.result-block>.marker {
  position: absolute;
  left: 15px;
}

.marker {
  display: block;
  width: 20px;
  height: 24px;
  background: url("/AndroidWeb/pictures/map-sprites.8025f7c0.png") no-repeat;
}
.result-name {
  margin: 0 0 1px;
  font-size: 14px;
  color: #333;
  min-height: 1px;
}
.result-price{
  margin: 0 0 5px;
  font-size: 13px;
  color: #999;
}
.marker.ui_1 {
  background-position: 0px -80px;
}
.result-block:hover>.marker.ui_1, .result-block.ui_current>.marker.ui_1 {
    background-position: 0px -110px;
}
.marker.ui_2 {
  background-position: -20px -80px;
}
.result-block:hover>.marker.ui_2, .result-block.ui_current>.marker.ui_2 {
    background-position: -20px -110px;
}
.marker.ui_3 {
    background-position: -40px -80px;
}
.result-block:hover>.marker.ui_3, .result-block.ui_current>.marker.ui_3 {
    background-position: -40px -110px;
}
.marker.ui_4 {
    background-position: -60px -80px;
}
.result-block:hover>.marker.ui_4, .result-block.ui_current>.marker.ui_4 {
    background-position: -60px -110px;
}
.marker.ui_5 {
    background-position: -80px -80px;
}
.result-block:hover>.marker.ui_5, .result-block.ui_current>.marker.ui_5 {
    background-position: -80px -110px;
}
.marker.ui_6 {
    background-position: -100px -80px;
}
.result-block:hover>.marker.ui_6, .result-block.ui_current>.marker.ui_6 {
    background-position: -100px -110px;
}
.marker.ui_7 {
    background-position: -120px -80px;
}
.result-block:hover>.marker.ui_7, .result-block.ui_current>.marker.ui_7 {
    background-position: -120px -110px;
}
.marker.ui_8 {
    background-position: -140px -80px;
}
.result-block:hover>.marker.ui_8, .result-block.ui_current>.marker.ui_8 {
    background-position: -140px -110px;
}
.module-result {
  margin: 0 16px 0 0;
  width: 100%;
  height: 100%;
}

.search-bar>.twitter-typeahead>.tt-dropdown-menu {
  width: 560px;
  margin: 2px 0 0 -21px;
  max-height: 204px;
}
.location-list{
  margin: 0 4px 0 0;
  width: 560px;
  height: 200px;
  overflow:auto;
}

.templatemo-nav>li {
	border: 0px solid #8C8C8C;
	border-radius: 0px;
	color: black;
	padding: 0px 0px;	
	transition: background-color 0.3s;
}
.templatemo-nav>li:hover{
	color:#000000;
	background:#eeeeee;
}
.templatemo-nav {
	display:block;	
	font: normal 18px/2 "Helvetica Neue",Arial,"Microsoft Yahei",sans-serif;
	float: left;
	margin-left:0;	
	background:#ffffff;
}

.highlight {
    color: #08c;
    font-weight: bold;
}

/*echart显示区域*/
.echart-container-out {
  position: absolute;
  top: 67%;
  bottom: 10px;
  width:20%;
  height:32%;
  z-index: 1000;
  right: 10px;
  background-color:#fff;
  opacity: 0.7;
  filter:alpha(opacity=70%);
}

.echart-container {
    position: relative;    
    width: 100%;
    height: 100%;
    z-index: 1000;    
    
}

.echart-container-wordcloud-out {
    position: absolute;
    top: 1%;
    bottom: 10px;
    width: 20%;
    height: 32%;
    z-index: 1000;
    right: 10px;
    background-color:white;
    opacity: 0.7;
    filter:alpha(opacity=70%);
    
}

.echart-container-wordcloud {
    position: relative;    
    width: 100%;
    height: 100%;
    z-index: 1000;    
    
}

.echart-container-pie-out {
    position: absolute;
    top: 34%;
    bottom: 10px;
    width: 20%;
    height: 32%;
    z-index: 1000;
    right: 10px;
    background-color:white;
    opacity: 0.7;
    filter:alpha(opacity=70%);
    
}

.echart-container-pie {
    position: relative;    
    width: 100%;
    height: 100%;
    z-index: 1000;    
    
}